/shelf/
/workspace.xml
*.pyc
*.pyo
*.settings
**/__pycache__
.idea
Build/Temporary*
Tools/Temporary*
VirtualEnvironment/
venv/
*/migrations/
build/
dist/
*.jpg
*.png
application.spec
*.log
*.lst
*.bin
*.avi
Recordings/
ProgramSettings/
